<h2>Lista de Clientes</h2>

<form [formGroup]="clienteForm" (ngSubmit)="save()">
  <p>
    <label>Nome: </label>
    <input type="text" formControlName="nome" />
  </p>
  <p>
    <label>Telefone: </label>
    <input type="text" formControlName="telefone" />
  </p>
  <button type="submit">
  {{
    clienteIdEdicao ? "Atualizar" : "Cadastrar"
  }}</button>
</form>
<table style="border: 1px solid">
  <thead>
    <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
    @for (cliente of clientes ; track $index) {
    <tr>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>
     <!-- <input type="button" (click)="editar(cliente.id)" value="Editar" />-->
        <input type="button" (click)="remover(cliente.id)" value="Remover" /></td>
    </tr>
    }
  </tbody>
</table>
